<div class="profile">
    <p>{{profile.email}}<a href="/logout">&nbsp(sign out)</a></p>
    <img class="profile-picture" src="{{profile.raw.picture}}">
</div>

<div class="controls-container">

    <ul class="filter-input-list">
        <li class="filter-input" id="filter-0">
            <button class="btn remove-filter-btn" id="0" title="Remove filter">❌</button>
            <input class="text-filter" id="input-0" placeholder="Filter term" />
        </li>
    </ul>

    <button class="btn add-filter-btn" title="Add new text filter">➕</button>
    <button class="btn fetch-events-btn" title="Reload events">🔃</button>
</div>
<div class="container">
    {{#each eventsByYear}}
    <h2>Upcoming Events {{year}}</h1>
    <ul class="events">
        {{#each items}}
        <li>
            <div class="date">
                <a href="{{link}}">
                    <div class="day-name">{{dayName}}</div>
                    <div class="day">{{day}}</div>
                    <div class="month">{{month}}</div>
                </a>
            </div>
            <div class="summary">
                <p>{{summary}}</p>
            </div>
        </li>
        {{/each}}
    </ul>
    {{/each}}
</div>
    
    